@font-face {
    font-family: unbuntu_reg;
    src: url(fonts/Ubuntu-Regular.ttf);
  }
@font-face {
    font-family: unbuntu_bold;
    src: url(fonts/Ubuntu-Bold.ttf);
}  
*{
    font-family: unbuntu_reg;
}
h1,h2,h3,h4,h5,h6{
    font-family: unbuntu_bold;
}
input[type="radio"]{
    background-color: #d9d9d9;
    /*color:#9ecc2e;* green color*/
    color:#fa9f1b;
}
p{
    font-family: unbuntu_reg;
    font-size: 14px;
    padding:10px;
}
a{
    text-decoration: none;
    transition: 0.5;
}
a:hover{
    text-decoration: underline;
    transition: 0.5;
}
.bg_color_one{
    background-color: #25476a;
}
.bg_color_two{
    background-color: #fa9f1b;
}
.bg_color_three{
    background-color: #d9d9d9;
}
.bg_color_four{
    background-color: #0c8ce9;
}
.bg_color_five{
    background-color: #fff;
}
.color_one{
    color: #25476a;
}
.color_two{
    color: #fa9f1b;
}
.color_three{
    color: #d9d9d9;
}
.color_four{
    color: #0c8ce9;
}
.color_five{
    color: #fff;
}
.text_center{
    text-align: center;
    display: block;
    margin: auto;
}
.text_right{
    text-align: right;
    padding-right:0px !important;
}
.pull_right{
    float: right;
    text-align: right;
    margin-right:0px !important;
}
.mt0{
    margin-top: 0px;
}
.mt1{
    margin-top: 20px;
}
.mt2{
    margin-top: 40px;
}
.mt3{
    margin-top: 60px;
}
.mt4{
    margin-top: 80px;
}
.mt5{
    margin-top: 80px;
}

.mb0{
    margin-bottom: 0px;
}
.mb1{
    margin-bottom: 20px;
}
.mb2{
    margin-bottom: 40px;
}
.mb3{
    margin-bottom: 60px;
}
.mb4{
    margin-bottom: 80px;
}
.mb5{
    margin-bottom: 80px;
}
.logo_google{
    background-image: url(../images/google.png);
    background-position: 10px 8px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 35px;
}
.logo_link{
    background-image: url(../images/link.png);
    background-position: 10px 8px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 35px;
}
button{
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #222;
    padding:10px 50px;
    cursor: pointer;
    width: 250px;
    padding: 15px 0px;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.btn_primary{
    background-color: #fa9f1b;
    color:#111;
    transition: 0.5s;
}
.btn_primary:hover{
    background-color: #fa9f1b;
    box-shadow: 0px 0px 1px #fa9f1b;
    opacity: 0.9;
    color:#333;
    transition: 0.5s;
}
.btn_secondary{
    background-color:#25476a;
    color:#fff;
    transition: 0.5s;
}
.btn_secondary:hover{
    background-color:#25476a;
    box-shadow: 0px 0px 1px #25476a;
    opacity: 0.9;
    color:#fff;
    transition: 0.5s;
}
.btn_success{
    background-color: #24aa2a;
    color:#333;
    transition: 0.5s;
}
.btn_success:hover{
    background-color: #24aa2a;
    color:#333;
    box-shadow: 0px 0px 1px #24aa2a;
    opacity: 0.9;
    transition: 0.5s;
}
.btn_danger{
    background-color: #e70027;
    color:#fff;
    transition: 0.5s;
}
.btn_danger:hover{
    background-color: #e70027;
    box-shadow: 0px 0px 1px #e70027;
    opacity: 0.9;
    opacity: 0.95;
    color:#fff;
    transition: 0.5s;
}
.btn_light{
    background-color: #fff;
    color:#333;
    transition: 0.5s;
}
.btn_light:hover{
    background-color: #fff;
    box-shadow: 0px 0px 1px #fff;
    opacity: 0.9;
    color:#333;
    transition: 0.5s;
}
.container_login{
    width:500px;
    background-color: #25476a;
    border-radius:10px;
    display: block;
    margin: auto;
    margin-top: 4%;
    color:#fff;
    padding:30px 70px;
}
.form{
    padding:10px;
}
.checkcontainer{
    position: relative;
    padding-left: 35px;
    margin-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
}
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}
.checkcontainer input:checked ~ .radiobtn {
    background-color: #d9d9d9;
}
.checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}
.checkcontainer .radiobtn:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fa9f1b;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.checkcontainer input:checked ~ .checkmark {
    background-color: #d9d9d9;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
.checkcontainer .checkmark:after {
    left: 4.5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid #fa9f1b;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form_group{
    margin-top:20px;
    margin-bottom:10px;
    overflow: hidden;
}
.form_control::placeholder {
    font-family: unbuntu_reg;
    color: #fff;
}
.form_control{
    border:none;
    border-bottom:1px solid #fff;
    background: none;
    padding:10px;
    display: block;
    width: 100%;
    font-size:14px;
    color:#fa9f1b;
    outline:none;
    transition: 0.5s;
}
input:focus {
    border:none;
    border-bottom:1px solid #fa9f1b;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    p{
        font-size: 13px;
    }
    h1{
        font-size: 25px;
    }
    .checkcontainer{
        font-size: 13px;
    }
    .form_control{
        font-size:13px;
    }
    .container_login{
        width:auto;
        padding: 20px 20px;
        margin-top: auto;
    }
    
}

@media only screen and (max-width: 480px) {
    p{
        font-size: 13px;
    }
    h1{
        font-size: 22px;
    }
    .checkcontainer{
        font-size: 13px;
    }
    .form_control{
        font-size:13px;
    }
    .container_login{
        width:auto;
        padding: 20px 20px;
        margin-top: auto;
    }
    .pull_right{
        width:100%;
    }
    
}
